In [6]:
import sys
l=range(100)
print(sys.getsizeof(5)*len(l))

2800

In [7]:
import numpy as np
arr=np.arange(100)
print(arr.size*arr.itemsize)
# we can see that the difference in the memory allcation of list and ndarray.

400

In [55]:
# Now we can see that the time consuming between python lists and ndarray
import time
size=1000000
l1=range(size)
l2=range(size)
start=time.time()
result=[(x+y) for x,y in zip(l1,l2)]
print('time took list:',(time.time()-start)*1000)

time took list: 94.43330764770508

In [54]:
a1=np.arange(size)
a2=np.arange(size)
start=time.time()
result=a1+a2
print('time took ndarray:',(time.time()-start)*1000)

time took ndarray: 15.70272445678711

In [56]:
a=np.array([1,2,3])
a

array([1, 2, 3])

In [57]:
a[0]

1

In [58]:
a[2]

3

In [59]:
a=np.array([[1,2],[3,4],[5,6]])
print(a)

[[1 2]
 [3 4]
 [5 6]]

In [60]:
a=np.array([[1,2],[3,4],[5,6]])
a.dtype

dtype('int32')

In [62]:
a=np.array([[1,2],[3,4],[5,6]],dtype=np.float64)
a.dtype

dtype('float64')

In [63]:
a

array([[1., 2.],
       [3., 4.],
       [5., 6.]])

In [64]:
a.size
# here you get the total number of elements.

6

In [65]:
a.shape
# using shape elements you get the size of the array.

(3, 2)

In [66]:
a=np.array([[1,2],[3,4],[5,6]],dtype=complex)
a

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j],
       [5.+0.j, 6.+0.j]])

In [67]:
a.dtype

dtype('complex128')

In [70]:
# you can inintialisze your array with zeros by zeros()
a=np.zeros((3,4),dtype=np.int32)
a

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [71]:
a=np.ones((3,4))
a

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [72]:
l=np.arange(1,10)
l

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [73]:
l=np.arange(1,5,2)
l
# here the third number is the step value between 1 and 5.

array([1, 3])

In [74]:
a=np.linspace(1,5,10)
a

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [76]:
b=np.linspace(1,5,20)
b

array([1.        , 1.21052632, 1.42105263, 1.63157895, 1.84210526,
       2.05263158, 2.26315789, 2.47368421, 2.68421053, 2.89473684,
       3.10526316, 3.31578947, 3.52631579, 3.73684211, 3.94736842,
       4.15789474, 4.36842105, 4.57894737, 4.78947368, 5.        ])

In [78]:
a=np.array([[1,2],[3,4],[5,6]])
b=a.reshape(2,3)
b

array([[1, 2, 3],
       [4, 5, 6]])

In [79]:
a.ravel()
# ravel() is used to transform the multidimensional array into one dimensional array.

array([1, 2, 3, 4, 5, 6])

In [80]:
a.max()

6

In [81]:
a.min()

1

In [82]:
a.sum()

21

In [84]:
a.sum(axis=0)
# it will add column wise

array([ 9, 12])

In [85]:
a.sum(axis=1)
# now it will calculated the sum along row wise.

array([ 3,  7, 11])

In [86]:
# if you want to compute the square root of each of these numbers
np.sqrt(a)

array([[1.        , 1.41421356],
       [1.73205081, 2.        ],
       [2.23606798, 2.44948974]])

In [87]:
# we can calculate the standard deviation of all the numbers is
np.std(a)

1.707825127659933

In [88]:
a=np.array([[1,2],[3,4]])
b=np.array([[4,3],[8,1]])

In [89]:
a+b

array([[ 5,  5],
       [11,  5]])

In [90]:
a-b

array([[-3, -1],
       [-5,  3]])

In [91]:
a.dot(b)

array([[20,  5],
       [44, 13]])

In [92]:
np.dot(a,b)

array([[20,  5],
       [44, 13]])

In [93]:
a=np.array([1,2,3,4])
a[0:2]

array([1, 2])

In [94]:
a[-1]

4

In [95]:
a[-3:-1]

array([2, 3])

In [97]:
a=np.array([[1,2],[3,4]])
a[1:2]

array([[3, 4]])

In [98]:
a[0:1,1]

array([2])

In [99]:
b=np.array([[1,2,3],[5,3,5],[5,2,8]])
b

array([[1, 2, 3],
       [5, 3, 5],
       [5, 2, 8]])

In [100]:
b[0:2,2]

array([3, 5])

In [102]:
b[-1]

array([5, 2, 8])

In [103]:
b[-1,0:2]

array([5, 2])

In [104]:
b[:]

array([[1, 2, 3],
       [5, 3, 5],
       [5, 2, 8]])

In [105]:
b[:,1:3]

array([[2, 3],
       [3, 5],
       [2, 8]])

In [106]:
for row in b:
    print(row)

[1 2 3]
[5 3 5]
[5 2 8]

In [108]:
for i in b.flat:
    print(i)
    # you get the values individually using flat keyword.

1
2
3
5
3
5
5
2
8

In [109]:
a

array([[1, 2],
       [3, 4]])

In [110]:
a=b.copy()

In [111]:
a

array([[1, 2, 3],
       [5, 3, 5],
       [5, 2, 8]])

In [112]:
b

array([[1, 2, 3],
       [5, 3, 5],
       [5, 2, 8]])

In [113]:
np.vstack((a,b))
# it just combines in vertically.

array([[1, 2, 3],
       [5, 3, 5],
       [5, 2, 8],
       [1, 2, 3],
       [5, 3, 5],
       [5, 2, 8]])

In [114]:
np.hstack((a,b))
# here combined in row wise.

array([[1, 2, 3, 1, 2, 3],
       [5, 3, 5, 5, 3, 5],
       [5, 2, 8, 5, 2, 8]])

In [118]:
a=np.arange(1,31).reshape(2,15)
a

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]])

In [119]:
np.hsplit(a,3)

[array([[ 1,  2,  3,  4,  5],
        [16, 17, 18, 19, 20]]),
 array([[ 6,  7,  8,  9, 10],
        [21, 22, 23, 24, 25]]),
 array([[11, 12, 13, 14, 15],
        [26, 27, 28, 29, 30]])]

In [121]:
np.vsplit(a,2)

[array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]]),
 array([[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]])]

In [122]:
a=np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [123]:
b=a>4
b

array([[False, False, False, False],
       [False,  True,  True,  True],
       [ True,  True,  True,  True]])

In [124]:
a[b]
# it will return only those elements with greater than 4

array([ 5,  6,  7,  8,  9, 10, 11])

In [125]:
# it is very useful when you want to replace values>4 by a value.
a[b]=-1
a

array([[ 0,  1,  2,  3],
       [ 4, -1, -1, -1],
       [-1, -1, -1, -1]])

# iterating ndarrays

In [126]:
a=np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [127]:
for row in a:
    print(row)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]

In [128]:
for row in a:
    for cell in row:
        print(cell)
        # if you want to iterate individually you can use the above code.

0
1
2
3
4
5
6
7
8
9
10
11

In [129]:
for i in a.flat:
    print(i)
    # this method is only for row wise only

0
1
2
3
4
5
6
7
8
9
10
11

In [130]:
# if you want to iterate through in both
for i in np.nditer(a,order="C"):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [131]:
for i in np.nditer(a,order="F"):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [132]:
for i in np.nditer(a,order="F",flags=["external_loop"]):
    print(i)

[0 4 8]
[1 5 9]
[ 2  6 10]
[ 3  7 11]

In [144]:
# if you want to calculate the square of the array

In [146]:
a=np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [147]:
for i in np.nditer(a,op_flags=['readwrite']):
    i[...]=i*i

In [148]:
a

array([[  0,   1,   4,   9],
       [ 16,  25,  36,  49],
       [ 64,  81, 100, 121]])

In [151]:
b=np.arange(3,10,3).reshape(3,1)
b

array([[3],
       [6],
       [9]])

In [153]:
# if i want to iterate both arrays simultaniouslly i can use the below code
for i,j in np.nditer([a,b]):
    print(i,j)

0 3
1 3
4 3
9 3
16 6
25 6
36 6
49 6
64 9
81 9
100 9
121 9